/* Container styling */
.intro-section {
    height: calc(100vh);
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    padding: 2rem;
    color: var(--text-color);
}

/* Profile image styling */
.intro-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
    object-fit:cover;
    height: 100vh;
    width: 50vw; /* Adjust as needed to balance with text */
    /* clip-path: circle(50% at 50% 50%); */
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}

/* Intro content styling */
.intro-content {
    max-width: 40rem;
    z-index: 1;
    text-align: left;
}

.intro-greeting {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--teal);
    margin-bottom: 0.5rem;
}

.intro-heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.intro-name {
    color: var(--yellow);
}

.intro-subheading {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--sky-blue);
    margin-bottom: 1rem;
}

.intro-description {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color);
    max-width: 30rem;
    line-height: 1.6;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .intro-section {
        flex-direction: column;
        text-align: center;
    }
    
    .intro-content {
        align-items: center;
        text-align: center;
    }
    
    .intro-image {
        position: static;
        height: 50vh;
        width: auto;
        margin-top: 1rem;
        clip-path: circle(50%);
    }
}

.typing-effect {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 300;
    margin-top: 1rem;
}

.regular-cursor {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--sky-blue);
    /* color: var(--text-color); */
}

.blinking-cursor {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text-color);
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
